.footer {
	background-color: #222;
	color: #fff;
	padding: 30px 10px;
}

.footer .logo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	font-weight: bold;
}
.footer .logo .icon {
	width: 20px;
	margin-right: 8px;
}
.footer .logo .icon svg {
	width: 100%;
	display: block;
}

.footer p {
	margin-bottom: 0;
	margin-top: 25px;
}

.maxWidth {
	grid-template-columns: auto;
	gap: 24px;
	text-align: center;
	display: grid;
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
}

.footer .links a {
	display: inline-block;
	margin-bottom: 8px;
}
.footer .links a svg {
	width: 32px;
	margin-right: 16px;
}

.footer .powered a svg {
	position: relative;
	top: 4px;
	width: 24px;
	margin: 0 8px 0 4px;
}

@media only screen and (min-width: 1024px) {
	.footer {
		padding: 75px;
	}
	.maxWidth {
		gap: 32px;
		grid-template-columns: auto auto;
		text-align: left;
	}
	.maxWidth > div:nth-child(even) {
		text-align: right;
	}
	.footer .logo {
		justify-content: flex-start;
	}
}
