.root {
	background-image: linear-gradient(
		to bottom right,
		#1a2c89,
		#4e86ca 50%,
		#75ea9c
	);
	color: #fff;
	position: relative;
	text-align: center;
}

.subtitle {
	font-size: 2em;
}

/* Nav */
.nav {
	position: absolute;
	top: 50px;
	width: 100%;
	z-index: 2;
}

.navBody {
	width: 95%;
	max-width: 1500px;
	margin: 0 auto;
	display: flex;
}

.logo {
	white-space: nowrap;
	font-size: 1.5em;
	font-weight: bold;
	display: none;
	align-items: center;
	color: #fff;
	text-decoration: none !important;
}
.logo .icon {
	width: 20px;
	margin-right: 12px;
}
.logo .icon svg {
	width: 100%;
	display: block;
}

.items {
	width: 100%;
	display: flex;
	align-items: center;
}
.items ul {
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	list-style-type: none;
	flex-wrap: wrap;
}
.items ul li {
	margin-left: 32px;
	display: block;
}
.items ul li:first-child {
	margin: 0;
}
.items ul a {
	color: #fff;
	white-space: nowrap;
}

/* Text */
.text {
	position: relative;
	margin: 0 auto;
	width: 95%;
	max-width: 1500px;
	z-index: 1;
	padding: 200px 0 50px;
}
.text button {
	background-color: #fff;
	color: #333;
}

/* Illustration */
.illustration {
	position: relative;
	bottom: 0;
	width: 100%;
}
.illustration .illustrationBody {
	width: 95%;
	margin: 0 auto;
	max-width: 1500px;
	display: flex;
	justify-content: center;
}
.illustration .illustrationBody svg {
	width: 100%;
	height: 100%;
	max-width: 400px;
	position: relative;
	display: block;
}

@media only screen and (min-width: 600px) {
	.logo {
		display: flex;
	}
	.items ul {
		justify-content: flex-end;
	}
	.items ul li {
		margin-left: 48px;
	}

	.illustration .illustrationBody svg {
		max-width: 650px;
	}
}

@media only screen and (min-width: 1024px) {
	.root {
		text-align: left;
		min-height: 85vh;
	}
	.text {
		padding: 350px 0 50px;
	}
	.illustration {
		position: absolute;
	}
	.illustration .illustrationBody {
		justify-content: flex-end;
	}
}

@media only screen and (min-width: 1366px) {
	.illustration .illustrationBody svg {
		max-width: 950px;
	}
}
